name: Deploy Bot via SSH

on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          password: ${{ secrets.VPS_PASSWORD }}
          port: 22
          script: |
            set -e
            cd /root
            source myenv/bin/activate
            cd /root/uebekbot
            git pull
            pip install --no-cache-dir -r requirements.txt
            mkdir -p trained_models
            
            if [ -f "trained_models/lid.176.bin" ]; then
              FILE_SIZE=$(stat -c%s "trained_models/lid.176.bin")
              if [ $FILE_SIZE -lt 1000000 ]; then
                wget -q -O trained_models/lid.176.bin https://github.com/MyHoldFast/uebekbot/raw/main/trained_models/lid.176.bin
              fi
            else
              wget -q -O trained_models/lid.176.bin https://github.com/MyHoldFast/uebekbot/raw/main/trained_models/lid.176.bin
            fi
            
            pkill -f "python bot.py" 2>/dev/null || true
            sleep 2
            nohup python bot.py > bot.log 2>&1 &